{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{%block aboutactive%} active {%endblock aboutactive%}

{% block body %}<center>
{% load humanize %}
<br><br>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h7 style="color:red; text-align: center;"><strong>Welcome to LakshmiShree !</strong> LakshmiShree Company Profile.</h7>
  </div>

  <div class="container my-3">
    <h2 class="blog-post-title" style="color:red;">LakshmiShree Company Profile !</h2>
    <p class="blog-post-meta">{{time}} by <a href="/shree/home/">LakshmiShree !</a></p>
    <p>Incorporated in the year 2005, Lakshmishree Investment & Securities Pvt Ltd (LISPL) is a corporate member of NSE, BSE, NCDEX, MCX, and Depository Participant with CDSL. Rendering the clients with the financial services for more than a decade now, we at LISPL aim to expand throughout Pan India. Furthermore, we are on the urge to gear up as a full-service, brokerage house by empowering every Indian to invest by facilitating them with accurate financial decision-making. Over the years now, with the upwards growing graph, LISPL has been seeing a consistent growth path with the support and confidence of its clients, investors, employees, and associates. Today, the Lakshmishree group is managed by a team of professional staff members and has got a nationwide network. We are a Classic Mix of Youth and experience.</p>
    <hr>
  </div>


  <div class="container my-3">
    <h2 class="blog-post-title" style="color:red;">Lakshmishree - Leading Financial Service Provider !</h2>
    <!-- <p class="blog-post-meta">{{time}} by <a href="/shree/home/">LakshmiShree !</a></p> -->
    <p>Lakshmishree Investments & Securities Pvt Ltd (LISPL) is one of the quickest growing Stock Broking companies in India. Further, providing you with the appropriate guidance in this exciting world of the Stock Market, LISPL ensures to aid you with the ideal trading solutions. With the decades of our existence and the membership with BSE, NSE, NCDEX, MCX, and Depository Participant with CDSL, Lakshmishree Investment & Securities Pvt Ltd is on the urge of providing people with the Stock Trading services throughout Pan India by encouraging and facilitating every Indian to decide for their Investment structure and educating them to self-trade. Subsequently, having the in-house core Research team who dedicatedly works to assist our clients to guide them to invest in the selected stocks based on their risk and returns, LISPL renders quality research outcomes to different classes of clients as per their preferences and requirements.</p>
    <hr>



    <div class="container">
      <div class="row justify-content-center">
          <div class="col-12 col-md-6 text-center margin-5-rem-bottom sm-margin-3-rem-bottom">
              <h5 class="main-heading" style="color:red;">Why Lakshmishree</h5>
              <hr>
          </div>
      </div>
      <!-- start services item 
      <div class="row row-cols-1 row-cols-lg-3 row-cols-md-1 mb-3">
          
          <div class="col-12 col-md-12 col-lg-12 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn">
              <div class="feature-box why-box box-shadow-large box-shadow-double-large-hover bg-white padding-3-rem-all lg-padding-3-rem-all md-padding-4-half-rem-all">
                  <div class="feature-box-content text-center">
                      <h5 class="sub-heading">Services</h5>
                  </div>
                  <div class="feature-box-overlay bg-white"></div>
                      <div class="col-6 col-lg-12 mb-3">
                          <div class="col md-margin-40px-bottom wow animate__fadeIn" data-wow-delay="0.2s">
                              <div class="feature-box feat-box feature-box-left-icon-middle last-paragraph-no-margin" style="display:inline; text-align:left">
                                  <div class="feature-box-icon">
                                      <h6 class="alt-font text-neon-orange mb-0">Real-Time Market Information</h6>
                                  </div>
                                  <div class="feature-box-content">
                                      <span class="alt-font font-weight-500 text-medium text-medium-gray d-inline-block w-90 xs-w-100">We know the value of your investments and hence help you up with the ongoing updates through our Telegram group throughout the trading hours.</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-6 col-lg-12 mb-3">
                          <div class="col md-margin-40px-bottom wow animate__fadeIn" data-wow-delay="0.4s">
                              <div class="feature-box feat-box feature-box-left-icon-middle last-paragraph-no-margin" style="display:inline; text-align:left">
                                  <div class="feature-box-icon">
                                      <h6 class="alt-font text-neon-orange mb-0">Expert Sector Analysts</h6>
                                  </div>
                                  <div class="feature-box-content">
                                      <span class="alt-font font-weight-500 text-medium text-medium-gray d-inline-block w-90 xs-w-100">With a team of experts to drive profits to your investments, LISPL ranges an extensive knack for your investments.</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-6 col-lg-12 mb-3">
                          <div class="col xs-margin-40px-bottom wow animate__fadeIn" data-wow-delay="0.6s">
                              <div class="feature-box feat-box feature-box-left-icon-middle last-paragraph-no-margin" style="display:inline; text-align:left">
                                  <div class="feature-box-icon">
                                      <h6 class="alt-font text-neon-orange mb-0">Wide Range of Research Reports</h6>
                                  </div>
                                  <div class="feature-box-content">
                                      <span class="alt-font font-weight-500 text-medium text-medium-gray d-inline-block w-90 xs-w-100">To let you stay upgraded with all the activities going on around your invested stock and to predict your future investments, LISPL has a wide range of research reports for you.</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                       <div class="col-6 col-lg-4">
                          <div class="col wow animate__fadeIn" data-wow-delay="0.8s">
                              <div class="feature-box feat-box feature-box-left-icon-middle last-paragraph-no-margin">
                                  <div class="feature-box-icon">
                                      <h6 class="alt-font text-neon-orange mb-0">04</h6>
                                  </div>
                                  <div class="feature-box-content">
                                      <span class="alt-font font-weight-500 text-medium text-medium-gray text-uppercase d-inline-block w-90 xs-w-100">Call N Trade Facility</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-6 col-lg-4">
                          <div class="col wow animate__fadeIn" data-wow-delay="0.8s">
                              <div class="feature-box feat-box feature-box-left-icon-middle last-paragraph-no-margin">
                                  <div class="feature-box-icon">
                                      <h6 class="alt-font text-neon-orange mb-0">05</h6>
                                  </div>
                                  <div class="feature-box-content">
                                      <span class="alt-font font-weight-500 text-medium text-medium-gray text-uppercase d-inline-block w-90 xs-w-100">Financial Advisory</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-6 col-lg-4">
                          <div class="col wow animate__fadeIn" data-wow-delay="0.8s">
                              <div class="feature-box feat-box feature-box-left-icon-middle last-paragraph-no-margin">
                                  <div class="feature-box-icon">
                                      <h6 class="alt-font text-neon-orange mb-0">06</h6>
                                  </div>
                                  <div class="feature-box-content">
                                      <span class="alt-font font-weight-500 text-medium text-medium-gray text-uppercase d-inline-block w-90 xs-w-100">Tax Planning</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  
              </div>
          </div>
          </div>
           end services item -->
            <!-- start services item 
          <div class="row row-cols-1 row-cols-lg-3 row-cols-md-1 justify-content-center mb-3">
              
            <div class="col-12 col-md-12 col-lg-12 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn">
              <div class="feature-box why-box box-shadow-large box-shadow-double-large-hover bg-white padding-3-rem-all lg-padding-3-rem-all md-padding-4-half-rem-all">
                  <div class="feature-box-content text-center">
                      <h5 class="sub-heading">Research</h5>
                  </div>
                  <div class="feature-box-overlay bg-white"></div>
                     
                      <div class="col-6 col-lg-6">
                          <div class="col wow animate__fadeIn" data-wow-delay="0.8s">
                              <div class="feature-box feat-box feature-box-left-icon-middle last-paragraph-no-margin">
                                  <div class="feature-box-icon">
                                      <h6 class="alt-font text-neon-orange mb-0">04</h6>
                                  </div>
                                  <div class="feature-box-content">
                                      <span class="alt-font font-weight-500 text-medium text-medium-gray d-inline-block w-90 xs-w-100">Intraday SMS</span>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
          </div>
          
          </div>end services item -->
          

          <div class="row row-cols-1 row-cols-lg-3 row-cols-md-1 mb-3">
              <!-- start services item -->
           <div class="col-12 col-md-12 col-lg-12 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn;">
             <div class="feature-box why-box bg-medium-light-gray padding-3-rem-all lg-padding-3-rem-all md-padding-4-half-rem-all">
                 <!-- <div class="feature-box-content text-center">
                     <h5 class="text-dark">Why Choose Us</h5>
                     <hr>
                 </div> -->
                 <div class="row">
           <!-- start feature box item -->
              <div class="col-6 col-lg-4 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover overflow-hidden last-paragraph-no-margin">
                      <div class="feature-box-move-bottom-top padding-2-rem-all">
                          <i class="icon-alarmclock icon-medium text-red margin-25px-bottom"></i>
                          <div class="feature-box-content last-paragraph-no-margin">
                              <span class="text-extra-medium alt-font text-red font-weight-500 d-block margin-10px-bottom alt-font" style="color:red;">Real-Time Market Information</span>
                              <p>We know the value of your investments and hence help you up with the ongoing updates through our Telegram group throughout the trading hours.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end feature box item -->
               <!-- start feature box item -->
               <div class="col-6 col-lg-4 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover overflow-hidden last-paragraph-no-margin">
                      <div class="feature-box-move-bottom-top padding-2-rem-all">
                          <i class="line-icon-Cursor-Click2 icon-medium text-red margin-25px-bottom"></i>
                          <div class="feature-box-content last-paragraph-no-margin">
                              <span class="text-extra-medium alt-font text-red font-weight-500 d-block margin-10px-bottom alt-font" style="color:red;">Expert Sector Analysts</span>
                              <p>With a team of experts to drive profits to your investments, LISPL ranges an extensive knack for your investments.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end feature box item -->
              <!-- start feature box item -->
              <div class="col-6 col-lg-4 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover overflow-hidden last-paragraph-no-margin">
                      <div class="feature-box-move-bottom-top padding-2-rem-all">
                          <i class="icon-book-open icon-medium text-red margin-25px-bottom"></i>
                          <div class="feature-box-content last-paragraph-no-margin">
                              <span class="text-extra-medium alt-font text-red font-weight-500 d-block margin-10px-bottom alt-font" style="color:red;">Wide Range of Research Reports</span>
                              <p>To let you stay upgraded with all the activities going on around your invested stock and to predict your future investments, LISPL has a wide range of research reports for you.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end feature box item -->
              <!-- start feature box item -->
              <div class="col-6 col-lg-4 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover overflow-hidden last-paragraph-no-margin">
                      <div class="feature-box-move-bottom-top padding-2-rem-all">
                          <i class="line-icon-Talk-Man icon-medium text-red margin-25px-bottom"></i>
                          <div class="feature-box-content last-paragraph-no-margin">
                              <span class="text-extra-medium alt-font text-red font-weight-500 d-block margin-10px-bottom alt-font" style="color:red;">Dedicated Relationship Managers</span>
                              <p>To guide you with any of your Demat &amp; Trading account-related queries, our enthusiast team of Relationship Managers is always on the other side of your telephone.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end feature box item -->
                <!-- start feature box item -->
              <div class="col-6 col-lg-4 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover overflow-hidden last-paragraph-no-margin">
                      <div class="feature-box-move-bottom-top padding-2-rem-all">
                          <i class="icon-browser icon-medium text-red margin-25px-bottom"></i>
                          <div class="feature-box-content last-paragraph-no-margin">
                              <span class="text-extra-medium alt-font text-red font-weight-500 d-block margin-10px-bottom alt-font" style="color:red;">Customized Market Watch</span>
                              <p>Providing everything at your fingertips, you being a part of LISPL get to access the most convenient way to have customized market watches through our Shree Varahi App.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end feature box item -->      
               <!-- start feature box item -->
              <div class="col-6 col-lg-4 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover overflow-hidden last-paragraph-no-margin">
                      <div class="feature-box-move-bottom-top padding-2-rem-all">
                          <i class="icon-clipboard icon-medium text-red margin-25px-bottom"></i>
                          <div class="feature-box-content last-paragraph-no-margin">
                              <span class="text-extra-medium alt-font text-red font-weight-500 d-block margin-10px-bottom alt-font" style="color:red;">Portfolio Management Services</span>
                              <p>Managing your portfolio by yourself when you are busy building your future or having less knowledge at times lacks to get a positive portfolio. Therefore, here at LISPL, we care for your time and investments.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end feature box item -->       
              <!-- start feature box item -->
              <div class="col-6 col-lg-4 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover overflow-hidden last-paragraph-no-margin">
                      <div class="feature-box-move-bottom-top padding-2-rem-all">
                          <i class="icon-recycle icon-medium text-red margin-25px-bottom"></i>
                          <div class="feature-box-content last-paragraph-no-margin">
                              <span class="text-extra-medium alt-font text-red font-weight-500 d-block margin-10px-bottom alt-font" style="color:red;">24x7 Web-enabled Back Office</span>
                              <p>Here is LISPL we ensure to serve you with the best back-end support services round the clock to let you trade smoothly.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end feature box item -->        
              <!-- start feature box item -->
              <div class="col-6 col-lg-4 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover overflow-hidden last-paragraph-no-margin">
                      <div class="feature-box-move-bottom-top padding-2-rem-all">
                          <i class="icon-target icon-medium text-red margin-25px-bottom"></i>
                          <div class="feature-box-content last-paragraph-no-margin">
                              <span class="text-extra-medium alt-font text-red font-weight-500 d-block margin-10px-bottom alt-font" style="color:red;">Centralized Help Desk</span>
                              <p>To deliver you quick services with regard to trade understanding or on the technical side, the team at LISPL is always available to get you through..</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end feature box item -->  
               <!-- start feature box item -->
               <div class="col-6 col-lg-4 md-margin-30px-bottom xs-margin-15px-bottom wow animate__fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                  <div class="feature-box feature-box-show-hover box-shadow-large-hover border-radius-6px feature-box-bg-white-hover overflow-hidden last-paragraph-no-margin">
                      <div class="feature-box-move-bottom-top padding-2-rem-all">
                          <i class="icon-chat icon-medium text-red margin-25px-bottom"></i>
                          <div class="feature-box-content last-paragraph-no-margin">
                              <span class="text-extra-medium alt-font text-red font-weight-500 d-block margin-10px-bottom alt-font" style="color:red;">Live Chat Support System</span>
                              <p>You can also opt for live chat support with our team that is basically set to resolve any of your queries.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end feature box item --> 
                    
                    
                     <!-- <div class="col-6 col-lg-4">
                         <div class="col wow animate__fadeIn" data-wow-delay="0.8s">
                             <div class="feature-box feat-box feature-box-left-icon-middle last-paragraph-no-margin">
                                 <div class="feature-box-icon">
                                     <h6 class="alt-font text-neon-orange mb-0">04</h6>
                                 </div>
                                 <div class="feature-box-content">
                                     <span class="alt-font font-weight-500 text-medium text-medium-gray d-inline-block w-90 xs-w-100">BackOffice</span>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-12 col-lg-4">
                      <div class="col wow animate__fadeIn" data-wow-delay="0.8s">
                          <div class="feature-box feat-box feature-box-left-icon-middle last-paragraph-no-margin">
                              <div class="feature-box-icon">
                                  <h6 class="alt-font text-neon-orange mb-0">04</h6>
                              </div>
                              <div class="feature-box-content">
                                  <span class="alt-font font-weight-500 text-medium text-medium-gray d-inline-block w-90 xs-w-100">Two-way chat facility</span>
                              </div>
                          </div>
                      </div>
                  </div> -->
                  </div>
             </div>
         </div>
         <!-- end services item -->
         </div>
              
           </div>


    <hr>
    <nav class="buttomnavbar navbar-expand-lg navbar-dark bg-bright">
    <div class="container-fluid">
      <a target="_blank" href="https://www.linkedin.com/company/lakshmishreegroup/" class="btn btn-outline-primary">Linkedin</a>
      <a target="_blank" href="https://www.youtube.com/@ShreeVarahii" class="btn btn-outline-danger">YouTube</a>
      <a target="_blank" href="https://www.instagram.com/lakshmishree_group/" class="btn btn-outline-success">Instagram</a>
      <a target="_blank" href="https://www.facebook.com/LakshmishreeGroup/" class="btn btn-outline-info">Facebook</a>
    </div>
  </nav>
  </div>


  <!-- <div class="buttomnavbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a target="_blank" href="https://www.linkedin.com/company/lakshmishreegroup/" class="btn btn-outline-primary">Linkedin</a>
        <a target="_blank" href="https://www.youtube.com/@ShreeVarahii" class="btn btn-outline-danger">YouTube</a>
        <a target="_blank" href="https://www.instagram.com/lakshmishree_group/" class="btn btn-outline-success">Instagram</a>
        <a target="_blank" href="https://www.facebook.com/LakshmishreeGroup/" class="btn btn-outline-info">Facebook</a>
      </div>
    </nav>
  </div> -->
</center>
 {% endblock body %}