{% extends 'base.html' %}
{% block extra_head %}
{% block title %} Home {% endblock title %}
{% endblock extra_head %}
{% block homeactive %} active {% endblock homeactive %}

{% block body %}


<br><br>
<h1 class="display-5" style="color:red; background-color: lightyellow; text-align: center;">Welcome to Lakshmishree Investment & Securities Pvt. Ltd.!</h1>
    
  


<div class="container">
  <h2 style="color:red;">Gateway to your Financial Goal</h2>
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative" style ="background-color: lightyellow">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0" style="color:red;">Our Mission</h3>
            <p class="card-text mb-auto">To encourage VocalForLocal by guiding and supporting every Investor & Trader to Invest for self-security.</p>
            <!-- <a href="#" class="stretched-link">Continue reading</a> -->
          </div>     
        </div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative" style ="background-color: lightyellow">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0" style="color:red;">Our Vision</h3>
            <p class="card-text mb-auto">To serve our clients with utmost security, and upgraded Customized & comprehensive Financial Solutions.</p>
            <!-- <a href="#" class="stretched-link">Continue reading</a> -->
          </div>     
        </div>
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative" style ="background-color: lightyellow">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0" style="color:red;">Core Values</h3>
            <!-- <p class="card-text mb-auto">To serve our clients with utmost security, and upgraded Customized & comprehensive Financial Solutions.</p> -->
            <!-- <a href="#" class="stretched-link">Continue reading</a> -->
            <div class="row">
              <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                  <ul class="list-style-04">
                      <li class="border-radius-6px margin-20px-bottom">
                          <i class="far fa-dot-circle text-fast-blue margin-15px-right" aria-hidden="true"></i>
                          <span class="text-extra-dark-gray">Integrity and transparency</span>
                      </li>
                      <li class="border-radius-6px margin-20px-bottom">
                          <i class="far fa-dot-circle text-fast-blue margin-15px-right" aria-hidden="true"></i>
                          <span class="text-extra-dark-gray">Quality Investment Solutions based on unbiased research</span>
                      </li>
                      <li class="border-radius-6px margin-20px-bottom">
                          <i class="far fa-dot-circle text-fast-blue margin-15px-right" aria-hidden="true"></i>
                          <span class="text-extra-dark-gray">Personalized Services</span>
                      </li>
                      <!-- <li class="bg-white border-radius-6px margin-20px-bottom">
                          <i class="far fa-dot-circle text-fast-blue margin-15px-right" aria-hidden="true"></i>
                          <span class="text-extra-dark-gray">Achieving success through client’s growth</span>
                      </li>
                      <li class="bg-white border-radius-6px margin-20px-bottom">
                          <i class="far fa-dot-circle text-fast-blue margin-15px-right" aria-hidden="true"></i>
                          <span class="text-extra-dark-gray">Pursue Growth and Learning.</span>
                      </li> -->
                      
                  </ul>
              </div>
              <div class="col-12 col-xl-6 col-lg-6 col-md-6">
                  <ul class="list-style-04">
                      <li class="border-radius-6px margin-20px-bottom margin-20px-bottom">
                          <i class="far fa-dot-circle text-fast-blue margin-15px-right" aria-hidden="true"></i>
                          <span class="text-extra-dark-gray">Encourage Growth &amp; Investments Learning</span>
                      </li>
                      <li class="border-radius-6px margin-20px-bottom">
                          <i class="far fa-dot-circle text-fast-blue margin-15px-right" aria-hidden="true"></i>
                          <span class="text-extra-dark-gray">Crystalline Communication</span>
                      </li>
                      <li class="border-radius-6px margin-20px-bottom">
                          <i class="far fa-dot-circle text-fast-blue margin-15px-right" aria-hidden="true"></i>
                          <span class="text-extra-dark-gray">Comprehensive &amp; Customized Financial Services</span>
                      </li>
                      <!-- <li class="bg-white border-radius-6px margin-20px-bottom">
                          <i class="far fa-dot-circle text-fast-blue margin-15px-right" aria-hidden="true"></i>
                          <span class="text-extra-dark-gray">To provide our clients with Secure,Customised & Comprehensive financial solutions to achieve sustained growth</span>
                      </li> -->
                  </ul>
              </div>
          </div>
          </div>     
        </div>
        </div>
 {% endblock body %}