{% extends 'base.html' %}
{% block extra_head %}
{% block title %} Leave {% endblock title %}
{% endblock extra_head %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<br><br><br>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <h7 class="display-7" style="color:red; text-align: center;"><strong>Welcome to LakshmiShree !</strong> Your leave
    view.</h7>
</div>

<div class="text m-2" style="float: left;">Left Days For Leave {{user.ldays}}</div>

<button type="button" class="btn btn-link m-0" style="float: right;" data-bs-toggle="modal"
  data-bs-target="#leaveModal">
  New
</button><br><br>

{% if leaves != None %}
{% for l in leaves %}
<div class="container">
  <div
    class="container alert {% if l.status == 'Pending' %} alert-warning {% elif l.status == 'Rejected' %} alert-danger {% elif l.status == 'Approved' %} alert-success {% else %} {% endif %} fade show"
    role="alert">
    <div class="container" style="margin: auto; border: 2px solid #e6d9ad;">
      <form>
        <fieldset disabled>
          <br><label for="dateFrom">Date From:</label>
          <br><input type="text" id="disabledTextInput" class="form-control" placeholder="{{l.df}}"><br>
          <label for="dateTo">Date To:</label>
          <br><input type="text" id="disabledTextInput" class="form-control" placeholder="{{l.dt}}"><br>
          <label for="type">Type:</label>
          <br><input type="text" id="disabledTextInput" class="form-control" placeholder="{{l.type}}"><br>
          <label for="days">Days:</label>
          <br><input type="number" id="disabledTextInput" class="form-control" placeholder="{{l.days}}"><br>
          <label for="status">Status:</label>
          <br><input type="text" id="disabledTextInput" class="form-control" placeholder="{{l.status}}"><br>
        </fieldset>
        <span
          class="fa fa-star {% if  l.hod_approved == True and l.ceo_approved != True %} fa fa-star-half-o checked {% endif %} {% if l.ceo_approved == True %} checked {% endif %}">
          {% if l.hod_approved == True %} Verify By HOD {% elif l.hod_approved != True and l.ceo_approved != True and l.status == "Rejected" %} Rejected By HOD {% endif %} {% if l.ceo_approved == True %} & Approved By CEO {% elif l.hod_approved == True and l.ceo_approved != True and l.status == "Rejected" %} & Rejected By CEO {% endif %}
        </span>
        <div id="lines">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </form>
    </div>
    <div></div>
  </div>
</div>
{% endfor %}
{% else %}

<h5 align="center" style="color:lightskyblue;">You have not any leave yet.</h5>
{% endif %}

<!-- Leave Modal -->
<div class="modal fade" id="leaveModal" tabindex="-1" aria-labelledby="leaveModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="leaveModalTitle" style="color:red;">Request for New Leave:</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> -->
        </button>
      </div>
      <div class="modal-body">
        <form action="/shree/{{request.user}}/leave/" method="POST"> {% csrf_token %}
          <div class="form-group">
            <label for="username">Date From:</label>
            <input type="text" class="form-control" id="df" name="df" placeholder="DD/MM/YYYY"
              onfocus="(this.type='date')" required>
          </div>
          <div class="form-group">
            <label for="pass">Date To:</label>
            <input type="text" class="form-control" id="dt" name="dt" placeholder="DD/MM/YYYY"
              onfocus="(this.type='date')" required>
          </div>
          <div class="form-group">
            <label for="type">Type:</label>
            <select class="form-select" id="type" name="type" aria-label="Default select example">
              <option value="Casual">Casual</option>
              <option value="Sick">Sick</option>
              <option value="Emergency">Emergency</option>
              <option value="Marriage">Marriage</option>
              <option value="Maternity">Maternity</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{% endblock body %}